
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sawarabi+Gothic&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 10px;
}

.title {
    color: #423F32;
    margin-top: -2px;
   
    
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position:  absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 80px;
    top: 20px;
    background-color: white;
  }
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }  
.nav {
    width: 100%;
    height: 95px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 2;
    background-color: #292523;
}

.nav div.logo {
    float: left;
    width: 350px;
    height: 95px;
    background-color: #292523;
}

 .logo {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    background-color: black;

 }
a{
    color:  white !important;
}

.nav div.main_list {
    height: 65px;
    float: right;
    color: #fff;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    color: #fff;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}



/* Home section */

.carddd{

             border-radius: 90px;
background: linear-gradient(145deg, #3837374f, #2323239a);;
box-shadow:  65px 5px 50px  #2323239a,
             -35px -35px 70px #78767601;
width: 700px;
height: 500px;
display: grid;
color: white;
}

.navTrigger {
  display: none;
} 
.nav {
    
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.pb{
  font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
  }
  
.h1t{
  font-size: 75px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    margin-left: 30px;
    margin-top: -30px;
    
    
}
.spann{
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-left: 30px;
  margin-top: -30px;
  
}



/* Media qurey section */

@media (max-width: 768px) {
    .home {
        background-size:cover; 
        background-repeat: no-repeat;
        height: 100vh;

    }
}
@media (max-width: 768px) {
    .contenedor {
        margin-left: 100px; /* Ajusta el margen izquierdo para pantallas más pequeñas */
        margin-top: 100px; /* Ajusta el margen superior para pantallas más pequeñas */
        font-size: small;
    }

    .texto-superpuesto {
        margin-left: -180px;/* Ajusta el tamaño del texto para pantallas más pequeñas */
    }

    .txt {
        font-size: 56px !important;
        color: whitesmoke /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #293E31;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}




.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}
.contenedor {
    position: absolute;
    text-align: center;
    color: white; /* color del texto */
    margin-left: 400px;
    margin-top: 300px;
}

.texto-superpuesto {
    position: absolute;
    top: 50%; /* posiciona el texto en el centro vertical */
    left: 50%; /* posiciona el texto en el centro horizontal */
    transform: translate(-50%, -50%); /* centra el texto correctamente */
}
.txt{
    font-size: 90px;
}
.tx{
    font-size: 30px;
    margin-top: -60px;
}
.btn {
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    margin-left: 900px;
    margin-top: 400px;
  }
  
  .btn:hover {
    color: #FE8340;
    content: '';
  }
  #btn {
    color: #FE8340;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #FE8340;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    margin-left: 900px;
    margin-top: 400px;
  }
  
  #btn:hover {
    color: #293E31;
    content: '';
  }

  .btn_in {
    position:static;
   
    width: 120px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #A238FF;
    font-size: 14px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .btn_in:hover {
    background: #A238FF;
    box-shadow: 0 0 30px 5px #A238FF ;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .btn_in:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .btn_in::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .btn_in:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
  .fondo_index{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
  }